services:
  ingress:
    build:
      dockerfile: ./Dockerfile.ingress-local
      args:
        OBSERVABLE_TELEMETRY_DISABLE: ${OBSERVABLE_TELEMETRY_DISABLE}
    ports:
      - "8080:8080"
    depends_on:
      - backend
      - validator

  backend:
    build:
      dockerfile: ./Dockerfile.backend
    ports:
      - "8082:8082"

  validator:
    build:
      dockerfile: ./Dockerfile.validator-local
    ports:
      - "8081:8081"
    environment:
      - GCP_JWT_AUDIENCE=${GCP_JWT_AUDIENCE}
