{{block "words-page" .}}
    <form method="POST" action="/api/words">
        <fieldset>
            <legend>Word search</legend>
            <select name="chooser"
                    hx-get="/api/words/search"
                    hx-trigger="input changed"
                    hx-target="#words-search-results"
                    hx-swap="innerHTML"
                    hx-include="closest form"
            >
                <option value="single">Single</option>
                <option value="multiple">Multiple</option>
            </select>
            <input type="search"
                   name="partial"
                   placeholder="type a partial word to start searching"
                   hx-get="/api/words/search"
                   hx-trigger="input changed delay:500ms"
                   hx-target="#words-search-results"
                   hx-swap="innerHTML"
                   hx-include="closest form"
                   />

            <div id="words-search-results">
            </div>

            <button type="submit" disabled>Submit</button>
        </fieldset>
    </form>
{{end}}

{{block "words-search-results-radio" .}}
    {{if gt (len .Results) 0}}
        <ul _="on change from <input[type='radio'][name='chosen-word']/> in me
                    set radiobuttons to <input[type='radio'][name='chosen-word']/>
                    set submitButton to next <button[type='submit']/>

                    add @disabled='' to submitButton
                    repeat for x in radiobuttons
                        if x.checked then
                            remove @disabled from submitButton
                            break
                        end
                    end

                on load
                    add @disabled to next <button[type='submit']/>
       ">
            {{range .Results}}
                <li>
                    <label>
                        <input type="radio" name="chosen-word" value="{{.}}"> {{.}}
                    </label>
                </li>
            {{end}}
        </ul>
    {{else}}
        <p>No results.</p>
    {{end}}
{{end}}

{{block "words-search-results-checkbox" .}}
    {{if gt (len .Results) 0}}
        <ul _="on change from <input[type='checkbox'][name='chosen-word']/> in me
                    set checkboxes to <input[type='checkbox'][name='chosen-word']/>
                    set submitButton to next <button[type='submit']/>

                    add @disabled='' to submitButton
                    repeat for x in checkboxes
                        if not x.checked then
                            exit
                        end
                    end
                    remove @disabled from submitButton

                on load
                    add @disabled='' to next <button[type='submit']/>
       ">
            {{range .Results}}
                <li>
                    <label>
                        <input type="checkbox" name="chosen-word" value="{{.}}"> {{.}}
                    </label>
                </li>
            {{end}}
        </ul>
    {{else}}
        <p>No results.</p>
    {{end}}
{{end}}
